<div class="panel panel-default">
  <div class="panel-heading"><h2>Listing Pins</h2></div>
    <div class="panel-body">
      
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Description</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @pins.each do |pin| %>
            <tr>
              <td><%= link_to (image_tag pin.image.url(:thumb)), pin %></td>
              <td><%= link_to (pin.description), pin %></td>
              <td class="col-md-2">
                <% if pin.user == current_user %>
                  <%= link_to 'Show', pin, class: 'btn btn-default btn-xs' %> <%= link_to 'Edit', edit_pin_path(pin), class: 'btn btn-warning btn-xs' %> <%= link_to 'Destroy', pin, class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <br>
      
      <%= link_to 'New Pin', new_pin_path, class: 'btn btn-primary' %>

    </div>
</div>