<div class="panel panel-default">
  <div class="panel-heading"><h2><%= @pin.description %></h2></div>
  <div class="panel-body">
    <p>
      <%= image_tag @pin.image.url(:medium) %>
    </p>
    
    <p>
      <% if user_signed_in? %>
        <%= link_to like_pin_path(@pin), method: :put do %>
            <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center"></span>
            <%= @pin.get_upvotes.size %>
        <% end %>
        &nbsp;
        <%= link_to unlike_pin_path(@pin), method: :put do %>
            <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center"></span>
            <%= @pin.get_downvotes.size %>
        <% end %>
      <% end %>
    </p>
    
  </div>
  <div class="panel-footer">
    <% if @pin.user == current_user %>
      <%= link_to 'Edytuj', edit_pin_path(@pin) %> |
    <% end %>
    <%= link_to 'Wróć', pins_path %>
  </div>
</div>