<div class="panel panel-default">
  <div class="panel-heading"><h2><%= @pin.description %></h2></div>
  <div class="panel-body">
    <p>
      <%= image_tag @pin.image.url(:medium) %><br />
    </p>
    
    <p>
      <% if user_signed_in? %>
        <%= link_to like_pin_path(@pin), method: :put do %>
            <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center"></span>
            <%= @pin.get_upvotes.size %>
        <% end %>
        &nbsp;
        <%= link_to unlike_pin_path(@pin), method: :put do %>
            <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center"></span>
            <%= @pin.get_downvotes.size %>
        <% end %>
      <% end %>
    </p>
    
    <p>
      <b>Autor:</b> <%= link_to @pin.user.name, user_pins_path(user: @pin.user), title: "Wszystkie piny użytkownika #{@pin.user.name}" %><br />
      <b>Data:</b> <%= @pin.created_at %><br />
      
      <% if @pin.created_at != @pin.updated_at %>
        <b>Zdjęcie:</b> <%= @pin.image_updated_at %>
      <% end %>
    </p>
    
  </div>
  <div class="panel-footer">
    <% if @pin.user == current_user %>
      <%= link_to 'Edytuj', edit_pin_path(@pin) %> | <%= link_to 'Usuń', @pin, method: :delete, data: { confirm: 'Czy jesteś pewien?' } %> | 
    <% end %>
    <%= link_to 'Wróć', pins_path %>
  </div>
</div>